body {
    background-image: url(img/background-1.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
    color: darkslategray;
}

.second-body{
    background-color: rgba(213, 246, 255, 0.820);
    color: rgb(255, 255, 255);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

main {
    
    background-color: rgba(213, 246, 255, 0.820);
    color: rgb(255, 255, 255);
    max-width: 1300px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;

}

.main-home{
    background-color: rgba(0, 170, 212, 0.820);
    color: rgb(255, 255, 255);
    max-width: 1300px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;

}

.main-magazine{
    background-color: rgba(218, 98, 98, 0.820);
    color: rgb(255, 255, 255);
    max-width: 1300px;
    align-self: center;
    display: flex; 
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;

}

.main-games{
    background-color: rgba(255, 230, 128, 0.820);
    color: rgb(255, 255, 255);
    max-width: 1300px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;

}

.main-draws{
    background-color: rgba(0, 0, 0, 0.82);
    color: rgb(255, 255, 255);
    overflow: auto;
    scrollbar-color: blue;
    line-height: var(--lh-md);
    max-height: 500px;
    display: block;
}

.responsive {
    max-width: 100%;
}

.home-logo{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    animation: title 1s;
}

@keyframes title {
  0% {transform: translateY(-233px);}
  100% {transform: translateY(0px);}
}

.welcome-lets-go-button {
    text-decoration: none;
    width: 25vh;
    height: 8vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #0CBCBC;
    color: white;
    font-weight: bolder;
    font-size: 4.0vh;
    border-radius: 1.0vh;
    border-color: #0CBCBC;   
}

.welcome-lets-go-button:hover{
    background-color: #15d2d2;
}

.welcome-credits-button {
    text-decoration: none;
    width: 25vh;
    height: 8vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #A7B8BC;
    color: white;
    font-weight: bolder;
    font-size: 4.0vh;
    border-radius: 1.0vh;
    border-color: #A7B8BC;    
}

.welcome-credits-button:hover{
    background-color: #c2cdcf;
}

.clear-button {
    text-decoration: none;
    width: 9vh;
    height: 6vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #fe4da3;
    color: white;
    font-weight: bolder;
    font-size: 2.0vh;
    border-radius: 1.0vh;
    border-color: #fe4da3;    
}

.clear-button:hover{
    background-color: #ff74b7;
}

.previous-next-button{
    text-decoration: none;
    width: 12vh;
    height: 6vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ff9955;
    color: white;
    font-weight: bolder;
    font-size: 2.0vh;
    line-height: 20px;
    border-radius: 1.0vh;
    border-color: #ff9955;    
}

.previous-next-button:hover{
    background-color: #ffc8a3;
}

.download {
    text-decoration: none;
    width: 9vh;
    height: 6vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #50d638;
    color: white;
    font-weight: bolder;
    font-size: 2.0vh;
    border-radius: 1.0vh;
    border-color: #50d638;    
}

.download:hover{
    background-color: #76ee61;
}


.ingo-portfolio-logo{
    width: 25vh;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

}

.home-section-button{
    text-decoration: none;
    width: 30vh;
    height: 10vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC21C;
    color: white;
    font-weight: bolder;
    font-size: 5.0vh;
    border-radius: 1.0vh;
    border-color: #FFC21C;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    }
}  


.home-section-button:hover{
    background-color: #ffd562;
}

.game-title{
    background-color:#0CBCBC;
    font-weight: bolder;
    color: white;
    font-size: 3vh;
    
}

.draw-portraits{

    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;}
    100%{
        opacity: 100;}
}


/* ------------>>>>CARUSEL DE IMAGENES<<<<------------ */

div#page {
    margin-left: 1em;
    margin-right: 1em;
}
#options{
	margin: 1em 1em 0em 1em;
}
.carousel-control.left,.carousel-control.right{
	background:none !important;
}
#myCarousel img{
	width:100%;
    
}
.optionBox,#optionHead1,#optionHead2{
	text-align:center;
}
.carousel-inner  {
    background-color: black;
    
}

.buttons{
	width: 6%;
    position: absolute;
    top: 2%;
    left: 4%;
    z-index: 99;
}
.buttons button{
	display:block;
	margin-bottom: 3px;

}
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px)
{
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: -45px !important;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -45px !important;
	}
	/* #options .row:nth-child(1){
		margin-bottom:4em;
	} */
}


/*
Esta Animacion realiza una transicion del Element Main
Un movimiento desde arriba hacia abajo. Visualmente muy
bonito lamentablemente el proposito era nada mas aplicarlo 
al Logo y no al Elemento Main completo junto a sus elementos.
    animation: topToBottom ease 1s;
  -webkit-animation: topToBottom ease 2s;
  -moz-animation: topToBottom ease 2s;
  -o-animation: topToBottom ease 2s;
  -ms-animation: topToBottom ease 2s; */

/* @keyframes topToBottom {
  0% {
    margin-top: -23%;
  }
  100% {
    margin-top: 0%;
  }
} 

 /* 
Animacion, para realizar un Estiramiento de algun elemento
desde el Cero al 100% muy efectivo para botones, links o imagenes.
    animation-name: stretch;
    animation-duration: 0.80s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
      transform: scale(.3);
      
    }
} */